<nav>
    <div>
        <h1><a href="/">Geo Events</a></h1>
        <ul>
            <li><a href="/admin/locals">Locals</a></li>
            <li><a href="/admin/events">Events</a></li>
            <li><a href="/admin/tickets">Tickets</a></li>
            <li><a href="/admin/users">Users</a></li>
            <li><a href="/admin/sales">Sales</a></li>
        </ul>

        <button><a href="/auth/logout">Logout</a></button>
    </div>
</nav>