<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
</head>
<body>
    
    <%- include("../partials/nav.ejs") %>

    <div class="add-form">
        <form action="/admin/local-types/add-local-type" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <button>Add</button>
        </form>
    </div>

</body>
</html>