<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
</head>
<body>
    
    <%- include("../partials/nav.ejs") %>

    <div class="add-form">
        <form action="/auth/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
        </form>
    </div>

    <h2>Login Test:</h2>
    <h2>Email: logintest123@gmail.com</h2>
    <h2>Senha: logintest123</h2>

</body>
</html>