<html lang="en">
    <head>
        <%- include("../partials/header.ejs") %>
    </head>
    <body>

        <%- include("../partials/nav.ejs") %>

        <main>
            <div class="divSearch">
                <label for="search">Search</label>
                <input type="search">
            </div>
            <div class="content">
                
            </div>
        </main>

        <script src="script.js"></script>
    </body>
</html>